$body-font-size: $fs-sm;
$body-font-weight: $fw-normal;

$h1-font-size: $h-1;
$h2-font-size: $h-2;
$h3-font-size: $h-3;
$h4-font-size: $h-4;
$h5-font-size: $h-5;
$h6-font-size: $h-6;

$h1-font-weight: $fw-bolder;
$h2-font-weight: $fw-bold;
$h3-font-weight: $fw-medium;
$h4-font-weight: $fw-normal;
$h5-font-weight: $fw-light;
$h6-font-weight: $fw-light;
